<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS9or9bhJYHGj0f_MLLxPFx4DPYPbJvhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>940511856789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlinegalleryapp.onlineGalleryApp</string>
	<key>PROJECT_ID</key>
	<string>online-gallery-app-8109a</string>
	<key>STORAGE_BUCKET</key>
	<string>online-gallery-app-8109a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940511856789:ios:155323cc0c8bf9f0e9739c</string>
</dict>
</plist>